# SPDX-FileCopyrightText: 2024 SUSE LLC
#
# SPDX-License-Identifier: BSD3

name: Build

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  release:
    types:
      - published

jobs:

  build:
    runs-on: ubuntu-latest

    env:
      CGO_ENABLED: 0

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      with:
        fetch-tags: true
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 #v6.2.0
      with:
        go-version: '1.24.1'

    - name: Build
      run: |
        mkdir -p ./bin
        go build -o ./bin/ -v ./...

    - name: Test
      run: go test -v ./...

    - name: Upload binaries
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      with:
        name: binaries
        path: ./bin/*
