# SPDX-FileCopyrightText: 2024 SUSE LLC
#
# SPDX-License-Identifier: BSD3

name: Build

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  release:
    types:
      - published

jobs:

  build:
    runs-on: ubuntu-latest

    env:
      CGO_ENABLED: 0

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
      with:
        fetch-tags: true
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 #v6.2.0
      with:
        go-version: '1.24.1'

    - name: Build
      run: |
        mkdir -p ./bin
        go build -o ./bin/ -v ./...

    - name: Test
      run: go test -v ./...

    - name: Upload binaries
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
      with:
        name: binaries
        path: ./bin/*
